<div class="contentblock">
	<div id="content_button_bar">
		<div class="content_button_left"><%= link_to("Favourite shops", :controller => 'shops', :action => 'fav') %></div>
		<div class="content_button_right"><%= link_to("Logout", :action => 'logout') %></div>
		
	</div>
</div>