<div class="contentblock">
	<p>Masz ochotę napić się piwa? Potrzebujesz znaleźć otwarty sklep monopolowy w swojej okolicy?
		Trafiłeś w odpowiednie miejsce! Nasza aplikacja Alkotron pozwoli ci na odnalezienie sklepów monopolowych
		w twojej okolicy, a nawet sprawdzenie czy interesujący nas sklep jest czynny czy też nie.
		Nie zwlekaj i zarejestruj się już teraz!</p>
</div>